name: web3j tests on plain ubuntu with java

on: [ push ]

jobs:
  bCP1ld:
    name: mvn build with Java 17, incl. unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 17
      - name: build & test with Maven
        run: mvn -B clean install
